# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
src/main/resources/mcmod.info
src/main/resources/pack.mcmeta
*.txt
gradlew.bat
JARM_Client.launch
