# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
gradle/wrapper/gradle-wrapper.jar
gradlew
gradle/wrapper/gradle-wrapper.properties
gradlew.bat
LICENSE.txt
README.txt
CREDITS.txt
changelog.txt
